.features {
  background-color: #2B076E;
}

.features .container {
  display: grid;
  gap: 10rem;
  padding: 10rem 0;
}
.features .container sup {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #CFCFCF;
  opacity: 0.7;
}

h2 {
  margin: 0;
  width: 65%;
  justify-self: center;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
}

.rows {
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.text-col {
  padding: 0 20rem 0 0;
  text-align: left;
  align-self: center;
}
.text-col h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 3rem;
}
.text-col p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}
.text-col button {
  padding: 1.85rem 3.2rem;
}

.detailed {
  direction: rtl;
  width: 110%;
  margin-left: -5%;
}
.detailed .text-col {
  padding-left: 5rem;
}

.detailed .other-col {
  align-self: center;
}

.invest .other-col {
  width: 81%;
}
.invest .other-col:hover {
  transform: scale(1.2);
}
.invest .other-col .btc-card {
  padding: 4rem 4rem 4.8rem;
  background: #35068C;
  border-radius: 16px;
}
.invest .other-col .btc-card * {
  margin: 0;
}
.invest .other-col .btc-card .flow {
  width: 100%;
}
.invest .other-col .coin-logo {
  display: grid;
  grid-template-columns: 40px 180px auto;
  gap: 0 1.6rem;
}
.invest .other-col .coin-logo img {
  align-self: center;
  display: block;
  width: 40px;
  height: 40px;
}
.invest .other-col .coin-logo .txt {
  display: grid;
}
.invest .other-col .coin-logo .txt h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.invest .other-col .coin-logo .txt p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #F2F2F2;
}
.invest .other-col .coin-logo span {
  color: #42FFFF;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.01em;
}
.invest .other-col .offs {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -5rem;
}
.invest .other-col .offs * {
  margin: 0;
}
.invest .other-col .offs cite {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #F2F2F2;
}
.invest .other-col .increase,
.invest .other-col .dollar-price {
  background: #491F98;
  -webkit-backdrop-filter: blur(250px);
          backdrop-filter: blur(250px);
  border-radius: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  justify-self: center;
}
.invest .other-col .increase h3,
.invest .other-col .dollar-price h3 {
  width: 14rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
}
.invest .other-col .increase h4,
.invest .other-col .dollar-price h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
}
.invest .other-col .increase {
  padding: 2.4rem 1.6rem;
}
.invest .other-col .dollar-price {
  text-align: center;
  padding: 1.6rem 3.2rem;
}

.grow .other-col {
  font-family: "Inter", sans-serif;
  border-radius: 16px;
  display: grid;
  height: 100%;
}
.grow .other-col img {
  width: 40px;
  height: 40px;
}

.grow .rate-card {
  align-self: center;
  background: #35068C;
  display: grid;
  border-radius: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
}
.grow .rate-card .headings {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr 1fr;
  padding: 1.6rem;
}
.grow .rate-card .headings p {
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.grow .rate-card .rates {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr 1fr;
  padding: 1.6rem;
}
.grow .rate-card .rates * {
  margin: 0;
}
.grow .rate-card .rates .coin {
  align-self: center;
  display: flex;
  gap: 0 1.6rem;
}
.grow .rate-card .rates .coin .txt {
  display: grid;
  gap: 0 4px;
}
.grow .rate-card .rates .coin .txt h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.grow .rate-card .rates .coin .txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}
.grow .rate-card .rates p {
  place-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.grow .rate-card .rates .change {
  color: #8FFFBE;
}
.grow .rate-card .rates .red {
  color: #FF7676;
}
.grow .rate-card .rates:hover {
  box-shadow: 0px 0px 5px 0px var(--primary-color);
  border-radius: 16px;
  background-color: #2B076E;
  margin-left: -100px;
  margin-right: 100px;
}

@media only screen and (max-width: 767px) {
  .features .container {
    gap: 6rem;
    padding: 5rem 0;
  }
  sup {
    font-size: 10px;
    line-height: 13px;
    color: #CFCFCF;
    opacity: 0.7;
  }
  h2 {
    width: 100%;
    font-size: 28px;
  }
  .rows {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .text-col {
    padding: 0;
    justify-self: center;
    background-color: red;
  }
  .text-col h5 {
    font-size: 24px;
    margin-bottom: 1.5rem;
  }
  .text-col p {
    font-size: 12px;
    line-height: 20px;
  }
}