.features {
  background-color: #2B076E;
}

.features .container {
  display: grid;
}
.features .container sup {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #CFCFCF;
  opacity: 0.7;
}
.features .container h2 {
  width: 65%;
  margin: auto;
  grid-column: 1/-1;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  margin-top: 10rem;
}
.features .container .features-rows {
  height: 60vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.features .container .text-col {
  border: 3px solid darkorange;
  align-self: center;
}
.features .container .text-col h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 3rem;
}
.features .container .text-col p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}
.features .container .text-col button {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  background: var(--link-color);
  padding: 1.85rem 3.2rem;
  border: none;
  border-radius: 32px;
}
.features .container .other-col {
  border: 1px solid palegreen;
}
.features .container .invest .other-col {
  position: relative;
}
.features .container .invest .btc-card {
  padding: 4rem 4rem 4.8rem;
  background: #35068C;
  border-radius: 16px;
}
.features .container .invest .btc-card * {
  margin: 0;
}
.features .container .invest .btc-card .coin-logo {
  display: grid;
  grid-template-columns: 40px 180px auto;
  gap: 0 1.6rem;
}
.features .container .invest .btc-card .coin-logo img {
  align-self: center;
  display: block;
  width: 40px;
  height: 40px;
}
.features .container .invest .btc-card .coin-logo .txt {
  display: grid;
}
.features .container .invest .btc-card .coin-logo .txt h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.features .container .invest .btc-card .coin-logo .txt p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #F2F2F2;
}
.features .container .invest .btc-card .coin-logo span {
  color: #42FFFF;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.01em;
}
.features .container .invest .btc-card .flow {
  width: 100%;
}
.features .container .invest .offs {
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -5rem;
}
.features .container .invest .offs * {
  margin: 0;
}
.features .container .invest .offs cite {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #F2F2F2;
}
.features .container .invest .offs .increase,
.features .container .invest .offs .dollar-price {
  background: #491F98;
  -webkit-backdrop-filter: blur(250px);
          backdrop-filter: blur(250px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.features .container .invest .offs .increase h3,
.features .container .invest .offs .dollar-price h3 {
  width: 14rem;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
}
.features .container .invest .offs .increase h4,
.features .container .invest .offs .dollar-price h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.01em;
}
.features .container .invest .offs .increase {
  justify-self: center;
  padding: 2.4rem 1.6rem;
}
.features .container .invest .offs .dollar-price {
  justify-self: center;
  text-align: center;
  padding: 1.6rem 3.2rem;
}
.features .container .detailed .other-col img {
  width: 100%;
}
.features .container .grow .other-col {
  font-family: "Inter", sans-serif;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  display: grid;
}
.features .container .grow .other-col img {
  width: 40px;
  height: 40px;
}
.features .container .grow .container {
  background: #35068C;
  display: grid;
  width: 100%;
  border-radius: 16px;
  box-sizing: border-box;
}
.features .container .grow .headings {
  display: grid;
  grid-template-columns: 130px 1fr 1fr 1fr;
}
.features .container .grow .headings p {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.features .container .grow .rows {
  display: grid;
  grid-template-columns: 15rem 1fr 1fr 1fr;
  padding: 1.6rem;
  box-sizing: border-box;
}
.features .container .grow .rows * {
  margin: 0;
}
.features .container .grow .rows p {
  place-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.features .container .grow .rows .change {
  color: #8FFFBE;
}
.features .container .grow .rows .red {
  color: #FF7676;
}
.features .container .grow .rows .coin {
  display: flex;
  gap: 1.6rem;
}
.features .container .grow .rows .coin .txt {
  display: grid;
  gap: 4px;
}
.features .container .grow .rows .coin .txt h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.features .container .grow .rows .coin .txt p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
}