@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #0D0D2B;
    --link-color: #3671E9;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Rubik', sans-serif;
    background-color: var(--primary-color);
    color: #FFFFFF;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

* {
    transition: .8s;
    // margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #FFFFFF;
}

.container {
    width: 90%;
    // background-color: green;
    margin: auto;

    img {
        width: 100%;
    }

    .btn {
        width: fit-content;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        background: var(--link-color);
        border: none;
        border-radius: 32px;
        padding: 1.6rem 2.4rem;
        color: #FFFFFF;

        &:hover {
            color: var(--link-color);
            background-color: #FFFFFF;
            font-weight: 500;

            a {
                color: var(--link-color);
            }
        }
    }
}


.menu-btn,
.exit-btn {
    display: none;
}

header {
    margin-top: 6rem;
    margin-bottom: 5rem;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        margin: 0;
        display: flex;
        gap: 1.6rem;

        img {
            width: 40px;
            height: 40px;
            background: rgba(255, 255, 255, 0.1);
            mix-blend-mode: normal;
            border-radius: 50%;
        }

        p {
            font-family: 'Inter';
            margin: 0;
            display: inline-block;
            align-self: center;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 22px;
            letter-spacing: 0.02em;
        }
    }

    nav {
        margin: 0;
        display: flex;
        gap: 5.6rem;

        ul {
            align-self: center;
            margin: 0;
            display: flex;
            padding: 0%;

            li {
                margin: 0;
            }
        }

        .pry-nav {
            gap: 3.2rem;

            li a {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.01em;
            }
        }

        .sec-nav {
            gap: 2.4rem;

            .demark {
                width: 1px;
                height: 20px;
                background-color: #F2F2F2;
                z-index: 10;
            }

            li {
                align-self: center;
            }

            li a {
                font-weight: 500;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
            }

            .register {
                padding: 14px 32px;
            }
        }

    }
}

main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10rem;

    .left-col {
        align-self: center;

        .promo {
            width: fit-content;
            background-color: rgba(255, 255, 255, 0.1);
            padding: .8rem 1.1rem;
            border-radius: 3.2rem;

            span {
                background-color: #FFFFFF;
                color: var(--primary-color);
                padding: .4em;
                margin-right: 1.2rem;
                border-radius: 3.2rem;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 150%;
                letter-spacing: 0.04em;
            }
        }

        h1 {
            font-weight: 700;
            font-size: 64px;
            line-height: 76px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #E0E0E0;
            width: 70%;

        }

        button {
            display: flex;
            gap: .8rem;
            align-items: center;
            background: var(--link-color);
            border-radius: 32px;
            padding: 1.6rem;
            border: none;

            * {
                margin: 0;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 150%;
                text-align: center;
                width: fit-content;
            }

            span img {
                background-color: #FFFFFF;
                border-radius: 50%;
                padding: 1.1rem 1.3rem;
            }
        }
    }

    img {
        display: block;
        justify-self: flex-end;
    }
}

.why-crappo .container {
    display: grid;
    padding: 10rem 0;

    * {
        margin: 0;
    }

    .top-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .stats {
            justify-self: center;
            display: grid;
            grid-template-columns: .1fr 1.5fr;
            gap: 0 2.4rem;

            .image-ctnr {
                align-self: center;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 50%;
                display: grid;
                place-content: center;
                width: 8rem;
                height: 8rem;


                img {
                    width: 4rem;
                    height: 4rem;
                    box-sizing: unset;
                }
            }

            h3 {
                font-weight: 700;
                font-size: 40px;
                line-height: 150%;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                letter-spacing: 0.01em;
                color: #E0E0E0;

            }
        }
    }

    .bottom-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .right-col {
            align-self: center;
            padding-left: 3rem;

            h2 {
                font-weight: 700;
                font-size: 40px;
                line-height: 150%;
                padding-bottom: 2.4rem;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                padding-bottom: 3.2rem;
                letter-spacing: 0.01em;
                color: #E0E0E0;
                padding-right: 16rem;
            }

            button {
                padding: 1.6rem 2.4rem;
            }


        }
    }

}

.check .container {
    text-align: center;
    padding: 10rem 0 22rem;

    h4 {
        font-weight: 700;
        font-size: 40px;
        line-height: 150%;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #E0E0E0;
        padding: 0 25%;
    }
}

.calculate {
    position: relative;
    margin: 0;
    width: auto;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -48%);
        background: #FFFFFF;
        filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, .2));
        display: grid;
        padding: 4.8rem;
        border-radius: 1.6rem;
        width: 65.4%;

        * {
            margin: 0;
        }
    }

    .top-side {
        background: #FBFCFE;

        form {
            width: 100%;
            padding-bottom: 4.8rem;
            display: grid;
            grid-template-columns: .53fr .267fr .2fr;
            gap: 0 4.8rem;

            input {
                width: fit-content;
            }

            input[type=tel],
            select {
                width: 100%;
                border: none;
                border-bottom: 1px solid #E0E0E0;
                color: #0D0D2B;
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                outline: none;
                background-color: unset;

                ::placeholder {
                    color: #0D0D2B;
                }

                option {
                    color: #0D0D2B;
                    font-size: 16px;
                }
            }

            // input[type=submit] {}
        }
    }

    .down-side {
        h5 {
            color: var(--link-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            padding: 0 0 1.6rem;
        }

        h3 {
            color: var(--primary-color);
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            letter-spacing: 0.04em;
            padding: 0 0 .4rem;
        }

        p {
            color: #828282;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
        }

        .blue {
            color: var(--link-color);
        }
    }
}

.cryptocurrencies {
    background-color: #FFFFFF;
    padding: 27rem 0 10rem;

    .container {
        display: flex;
        flex-direction: column;
    }

    sup {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #BDBDBD;
    }

    h2 {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: var(--primary-color);
        margin: auto;
        margin-bottom: 6.5rem;
    }

    .crypto-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4.5rem;
    }

    .card {
        display: grid;
        padding: 4.8rem 2.4rem;
        border-radius: 1.6rem;
        justify-content: center;
        box-shadow: 0px 2px 5px 0px var(--primary-color);

        img {
            aspect-ratio: 1/1;
            width: 8rem;
            justify-self: center;
        }

        h5 {
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
            text-align: center;
            color: var(--primary-color);
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #828282;
        }

        button {
            position: relative;
            width: fit-content;
            height: fit-content;
            padding: 0;
            margin: 0;
            border-radius: 50%;
            border: 2px solid rgba(43, 7, 110, 0.2);
            justify-self: center;
            border: none;
            background-color: #FFFFFF;

            span {
                width: 0px;
                z-index: -100;
                opacity: 0;
            }

            img {
                display: block;
                margin: auto;
                border-radius: 50%;
                aspect-ratio: 3/5;
                width: 1.2rem;
                padding: 2.2rem 2.5rem;
                box-sizing: unset;
                background-color: #FFFFFF;
                border: 1px solid #3671E9;
            }
        }

        &:hover {
            background: #2B076E;
            // backdrop-filter: blur(250px);
            // transform: scale(1.02);
            transition: .8s;
            box-shadow: 0px 2px 5px 0px #510ccf;

            img {
                rotate: 360deg;
                transition: all 1s;
            }

            h5 {
                color: #FFFFFF;
                // font-size: 36px;
            }

            p {
                color: #FFFFFF;
                // font-size: 18px;
            }

            button {
                background: #2B076E;
                transition: .8s;
            }


        }
    }

    .card button:hover {
        span {
            width: fit-content;
            z-index: 100;
        }

        display: flex;
        gap: .8rem;
        align-items: center;
        background: var(--link-color);
        border-radius: 32px;
        padding: 1.85rem 2.4rem;
        border: none;

        * {
            margin: 0;
        }

        span {
            width: 100%;
            transition: 1s;
            opacity: 1;
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;

        }

        img {
            background-color: #FFFFFF;
            aspect-ratio: 3/5;
            width: 6px;
            border-radius: 50%;
            padding: 1.1rem 1.3rem;
            rotate: 720deg;
            transition: 1.5s;
        }
    }

}

.subscribe {
    padding: 8.8rem 0;
    background: linear-gradient(180deg, #2B076E 0%, #0D0D2B 100%);
}

.subscribe .container {
    // height: 216px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--link-color);
    padding: 2.4rem 4.8rem;
    // padding: 4.8rem;
    border-radius: 16px;
    background: url(../images/bg-mask-group.png);
    background-size: 120rem 216px;
    background-color: var(--link-color);

    .left-col {
        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 150%;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            width: 65%;
        }
    }

    form {
        display: grid;
        grid-template-columns: 1.7fr .3fr;
        gap: 4rem;
        align-content: center;
        padding-bottom: 4rem;

        input {
            background: none;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            outline: none;
        }

        input[type=submit] {
            width: fit-content;
            font-weight: 600;
            font-size: 18px;
            line-height: 150%;
            text-align: center;
            background-color: #FFFFFF;
            color: var(--primary-color);
            padding: 1.4rem 3.2rem;
            border-radius: 32px;
        }
    }
}

footer {
    padding: 8rem 0;

    .extra-links {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
        }

        .socials {
            display: flex;
            gap: 4rem;

            a {
                align-self: center;
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: .4fr .4fr.4fr .8fr;
        padding-bottom: 11rem;
        background-color: unset;

        * {
            margin: 0;
        }

        .logo {
            display: flex;
            gap: 1.6rem;
            height: fit-content;

            img {
                width: 40px;
                height: 40px;
                background: rgba(255, 255, 255, 0.1);
                mix-blend-mode: normal;
                border-radius: 50%;
            }

            p {
                display: inline-block;
                align-self: center;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.04em;
            }
        }

        .foot {
            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 150%;
                padding-bottom: 2.4rem;
            }

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 38px;
                color: #F2F2F2;
            }
        }

        .payments {
            display: grid;
            gap: 4rem;

            h1 {
                font-weight: 500;
                font-size: 32px;
                line-height: 150%;
                width: 80%;
            }

            .mthds {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                a {
                    background: rgba(219, 214, 214, .05);
                    display: grid;
                    place-content: center;
                    border-radius: 8px;
                    aspect-ratio: 3/2.1333;
                    width: 90px;
                    // height: 64px;
                    border-radius: 8px;
                }

                img {
                    width: 100%;
                    z-index: 10;
                }

                .btc-img {
                    display: block;
                    width: 19px;
                    height: 25px;
                    background: #E0E0E0;
                    padding: 7px 10px;
                    box-sizing: unset;
                    border-radius: 50%;
                }
            }
        }
    }
}